<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
            @for(pr of products; track pr.id)
            {
                <tr>
                    <th scope="row">{{pr.id}}</th>
                    <td>{{pr.name}}</td>
                    <td>{{pr.description}}</td>
                </tr>
            }
        </tbody>
      </table>
</body>
</html>